/** Stylus Styles */

$testColor = darken( rgb(255,250,250), 3% )
$testOpacity = .8
$fontType = 'EB Garamond', Georgia, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif
$fontSize = 16px

.container
  margin: 100px 0 0 0!important
